#cal {
    text-align: center;
    color: brown;
}

#calculater {
    background-color: aqua;
    color: aquamarine;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}